body {
    background-image:url(the_alliance_skibidi_toilets_fan_art_by_2_tick_0_dgwrb7w-fullview.jpg)
}

.NilayandSabunOP {
    font-family: cursive;
    font-size: 500%;
    color: blue;
}

.Skibidi {
    font-family: 'Courier New', Courier, monospace;
    color:blue;
    font-size: large;
}